# {{ ansible_managed }}
---
version: '3.4'
services:
  watchtower:
    restart: unless-stopped
    image: {{ watchtower_image }}
    container_name: watchtower
    environment:
      WATCHTOWER_MONITOR_ONLY: 'false'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
